<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct Message {{ matched.username }}</title>
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-light bg-light border mb-3">
        <span class="navbar-brand mr-auto">Welcome {{logged_user.username}}</span>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link text-muted active" href="/discover">Discover</a></li>
            <li class="nav-item"><a class="nav-link text-muted" href="/matches">Matches</a></li>
            <li class="nav-item"><a class="nav-link text-muted" href="/profile">Profile</a></li>
        </ul>
        <a class="nav-link text-danger" href="/users/logout">Logout</a>
    </nav>
    <h1 class="text-center">
        Message <a href="/profile/{{matched.id}}">{{ matched.username }}</a> 
        <img class="avatar" src="{{ url_for('static', filename='img/') }}{{ matched.avatar }}" alt="{{ matched.username }} avatar">
    </h1>
    <button class="btn btn-outline-secondary" id="loadMessages">Load more messages</button>
    <ul id="messages" class="list-group"></ul>
    <form id="messageForm">
        <div class="input-group col-12 mb-3">
            <input type="text" class="form-control" placeholder="Type your message here" id="msgInput">
            <div class="input-group-append">
                <input type="submit" value="Send" class="btn btn-primary" id="sendBtn">
            </div>
        </div>
    </form>
    <script>
        const username = "{{ logged_user.username }}";
        const user_id = "{{ logged_user.id }}";
        const match_id = "{{ match.id }}";
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>